
{% load widget_tweaks %}
{% load static %}


<footer class="footer">
  <div class="footer-text">


<p style="color:#45a851;font-size: 15px; line-height: 1.5; margin-top: 0; margin-bottom: 0;">
  <a href="https://www.meddes.com.ec"  class="text-blue-600 hover:underline"><strong> w w w. m e d d e s . c o m . e c</strong></a>
</p>

<p style="color:#45a851;font-size: 15px; line-height: 1.5; margin-top: 0; margin-bottom: 0;">
  <strong> Quito - Guayaquil - Valles</strong>
</p>
   
<p style="line-height: 0.8;margin-bottom: 0rem;">
Soportado por   
  <a href="https://ec.smartquail.io" class="text-blue-600 hover:underline">
    <img src="{% static 'assets/images/logosmartquailWHITEGRAY.png' %}" alt="Logo del proveedor" style="width: 78px;" />
  </a>
</p>
<p style="font-size: 10px; line-height: 0.8; margin-top: 0; margin-bottom: 0;">
  <strong> 2025 ® Todos los Derechos Reservados, Ecuador</strong>
</p>
   
  </div>
</footer>
  <!--end footer-->