{% extends "base_dash.html" %}
{% load widget_tweaks %}
{% load static %}






{% block content %}



<div class="page-content-wrapper">
    <!-- start page content-->
   <div class="page-content">
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-9">
          <div class="card overflow-hidden radius-10">
            <div class="profile-cover bg-dark position-relative mb-4">
                <div class="user-profile-avatar shadow position-absolute top-50 start-0 translate-middle-x">
                    {% if profile.photo %}
                        <img src="{{ profile.photo.url }}" alt="User Photo">
                    {% else %}
                        <img src="{% static 'img/user.png' %}" alt="Default Photo">
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
              <div class="mt-5 d-flex align-items-start justify-content-between">
                <div class="">
                  <h3 class="mb-2">{{ profile.nombre_paciente }}</h3>  
                  <p class="mb-2" style ="margin-top:-15px;">{{ profile.apellidos_paciente }}</p>  
                  <p class="mb-0"><strong>{{ profile.unidad_educativa }}</strong></p>            
                </div>
              </div>
            </div>



          </div>

<div class="row row-cols-1 row-cols-lg-3">
  <!-- Bloque Paciente -->
  <div class="col">
    <div class="card radius-10 bg-success">
      <div class="card-body text-white">
        <div class="d-flex align-items-center mb-2">
          <div class="service-box bg-white text-white me-2">
            <ion-icon name="person-add" role="img" class="md hydrated" aria-label="person add"></ion-icon>
          </div>
          <h5 class="mb-0">Paciente</h5>
        </div>
        <p class="mb-0">Edad: {{ profile.edad }} años</p>
        <p class="mb-0">Nacionalidad: {{ profile.nacionalidad }}</p>
        <p class="mb-0">Sexo: {{ profile.sexo }}</p>
        <p class="mb-0">Lugar de Registro: {{ profile.sucursal }}</p>
      </div>  
    </div>
  </div>

  <!-- Bloque Representante -->
  <div class="col">
    <div class="card radius-10 bg-success">
      <div class="card-body text-white">
        <div class="d-flex align-items-center mb-2">
          <div class="service-box bg-white text-white me-2">
            <ion-icon name="accessibility-outline" role="img" class="md hydrated" aria-label="accessibility outline"></ion-icon>
          </div>
          <h5 class="mb-0">Representante</h5>
        </div>
        <p class="mb-0">Nombre del representante: {{ profile.nombre_representante }} {{ profile.apellidos_representante_legal }}</p>
        <p class="mb-0"><strong>Relación con el paciente:</strong> {{ profile.relacion_del_representante }}</p>
        <p class="mb-0"><strong>Correo Electrónico:</strong> {{ profile.email }}</p>
        <p class="mb-0"><strong>Teléfono de Contacto:</strong> {{ profile.celular }}</p>
      </div>
    </div>
  </div>

  <!-- Bloque Tratamiento -->
  <div class="col">
    <div class="card radius-10 bg-success">
      <div class="card-body text-white">
        <div class="d-flex align-items-center mb-2">
          <div class="service-box bg-white text-white me-2">
            <ion-icon name="pulse-outline" role="img" class="md hydrated" aria-label="pulse outline"></ion-icon>
          </div>
          <h5 class="mb-0">Tratamiento</h5>
        </div>
        <p class="mb-0">Servicio: {{ profile.tipo_servicio }}</p>
        <p class="mb-0">Valorización: {{ profile.valorizacion_terapeutica }}</p>
        <p class="mb-0">Fecha de Inicio: {{ profile.fecha_inicio }}</p>
        <p class="mb-0">Fecha Alta: {{ profile.fecha_terminacion }}</p>
      </div>
    </div>
  </div>
</div>


        </div>
        {% include 'usuarios/panel_usuario.html' %} 
    </div>
</div>

</div>

{% endblock %}