{% extends "base_dash.html" %}
{% load widget_tweaks %}
{% load static %}






{% block content %}



<div class="page-content-wrapper">
    <!-- start page content-->
   <div class="page-content">
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-9">
          <div class="card overflow-hidden radius-10">
<div class="profile-cover bg-dark position-relative mb-4">
  
  <!-- Logo arriba a la derecha -->
  <div class="position-absolute top-0 end-0 m-3">
    <img src="{% static 'img/logo.png' %}" alt="Logo" style="height: 50px;">
  </div>

  <!-- Avatar centrado -->
  <div class="user-profile-avatar shadow position-absolute top-50 start-0 translate-middle-x">
    {% if profile.photo %}
      <img src="{{ profile.photo.url }}" alt="User Photo">
    {% else %}
      <img src="{% static 'img/user.png' %}" alt="Default Photo">
    {% endif %}
  </div>
</div>
            <div class="card-body">
              <div class="mt-5 d-flex align-items-start justify-content-between">
                <div class="">
                  <h3 class="mb-2">{{ profile.nombre_paciente }}</h3>  
                  <p class="mb-2" style ="margin-top:-15px;">{{ profile.apellidos_paciente }}, {{ profile.edad }} años </p>  
                   <p class="mb-1"><strong>{{ profile.institucion }}</strong></p>   
                  <p class="mb-0"><strong>{{ profile.tipos|join:" + " }}</strong></p>            
                </div>
              </div>
            </div>



          </div>

<div class="row row-cols-1 row-cols-lg-3">
  <!-- Bloque Paciente -->
  <div class="col">
    <div class="card radius-10 bg-success">
      <div class="card-body text-white">
        <div class="d-flex align-items-center mb-2">
                
          <div class="service-box bg-white text-white me-2">
            <ion-icon name="person-add" role="img" class="md hydrated" aria-label="person add"></ion-icon>

          </div>
         
          <h6 class="mb-3">Mis datos Personales</h6>
         
        </div>

        <p class="mb-0"><ion-icon name="egg-outline"></ion-icon> {{ profile.fecha_nacimiento  }} </p>
        <p class="mb-0"><ion-icon name="location-outline"></ion-icon> {{ profile.nacionalidad }}</p>
        <p class="mb-0"><ion-icon name="male-female-outline"></ion-icon> {{ profile.sexo }}</p>
        <p class="mb-0"><ion-icon name="navigate-circle-outline"></ion-icon> {{ profile.sucursales }}</p>
      </div>  
    </div>
  </div>

  <!-- Bloque Representante -->
  <div class="col">
    <div class="card radius-10 bg-success">
      <div class="card-body text-white">
        <div class="d-flex align-items-center mb-2">
          <div class="service-box bg-white text-white me-2">
            <ion-icon name="accessibility-outline" role="img" class="md hydrated" aria-label="accessibility outline"></ion-icon>
          </div>
          <h6 class="mb-0">Mi Representante/Tutor</h6>
        </div>
        <p class="mb-0"><ion-icon name="woman-outline"></ion-icon> {{ profile.nombre_representante }} {{ profile.apellidos_representante_legal }}</p>
        <p class="mb-0"><ion-icon name="accessibility-outline"></ion-icon></strong> {{ profile.relacion_del_representante }}</p>
        <p class="mb-0"><ion-icon name="mail-outline"></ion-icon> {{ profile.email }}</p>
        <p class="mb-0"><ion-icon name="logo-whatsapp"></ion-icon> {{ profile.celular }}</p>
      </div>
    </div>
  </div>

  <!-- Bloque Tratamiento -->
  <div class="col">
    <div class="card radius-10 bg-success">
      <div class="card-body text-white">
        <div class="d-flex align-items-center mb-2">
          <div class="service-box bg-white text-white me-2">
            <ion-icon name="pulse-outline" role="img" class="md hydrated" aria-label="pulse outline"></ion-icon>
          </div>
          <h6 class="mb-0">Mi Tratamiento terapéutico</h6>
        </div>
        <p class="mb-0"><ion-icon name="heart-circle-outline"></ion-icon>
    <strong>
    {% for terapeuta in profile.user_terapeutas.all %}
      {{ terapeuta }}{% if not forloop.last %}, {% endif %}
    {% empty %}
      No hay terapeutas asignados.
    {% endfor %}
  </strong>
</p>
        <p class="mb-0"><ion-icon name="clipboard-outline"></ion-icon> {{ profile.valorizacion_terapeutica }}</p>
        <p class="mb-0"><ion-icon name="calendar-outline"></ion-icon> {{ profile.fecha_inicio }}(Inicio)</p>
        <p class="mb-0">
  <ion-icon name="calendar-outline"></ion-icon>
  {% if profile.fecha_alta %}
    {{ profile.fecha_alta }} (Fin)
  {% else %}
    ---
  {% endif %} 
</p>




        
      </div>
    </div>
  </div>
</div>


        </div>
        {% include 'usuarios/panel_usuario.html' %} 
    </div>
</div>

</div>

{% endblock %}