{% load widget_tweaks %}
{% load static %}


<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'img/BA-LOGOS/loro.png' %}" class="logo-icon"  width="530px" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">
                <div>
                    <img src="{% static 'img/BA-LOGOS/isotipo_meddes.png' %}"  width="120x" alt="logo icon">
                </div>
            </h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

                <li>
            <a href="{% url 'usuarios:perfil' %}">
                <div class="parent-icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <div class="menu-title">INICIO</div>
            </a>
        </li>

                    
        
        <li class="menu-label">Proceso Terapéutico </li>



        <li>
            <a href="{% url 'usuarios:tarea_list' %}">
                <div class="parent-icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <div class="menu-title">TERÁPIAS</div>
            </a>
        </li>

        <li>
            <a href="{% url 'usuarios:actividad_list'  %}">
                <div class="parent-icon">
                   <ion-icon name="checkbox-outline"></ion-icon>
                </div>
                <div class="menu-title"> ASISTENCIAS</div>
            </a>
        </li>





                <li>
            <a href="{% url 'usuarios:vista_certificados' %}">
                <div class="parent-icon">
                    <ion-icon name="file-tray-full-outline"></ion-icon>
                </div>
                <div class="menu-title">INFORMES</div>
            </a>
        </li>


         <li class="menu-label">Comunicaciones</li>

        <li>
            <a href="{% url 'usuarios:inbox_total' %}">
                <div class="parent-icon">
                    <ion-icon name="archive-outline"></ion-icon>
                </div>
                <div class="menu-title">NOTIFICACIONES</div>
            </a>
        </li>

         <li>
            <a href="{% url 'usuarios:inbox' %}">
                <div class="parent-icon">
                    <ion-icon name="paper-plane-outline"></ion-icon>
                </div>
                <div class="menu-title">CONTACTANOS</div>
            </a>
        </li>





        <li class="menu-label">Salir de MEDDES®</li>

        <li>
            <a href="{% url 'usuarios:logout' %}">
                <div class="parent-icon">
                    <ion-icon name="exit-outline"></ion-icon>
                </div>
                <div class="menu-title">SALIR</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->


</aside>


