{% load widget_tweaks %}
{% load static %}


<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'img/BA-LOGOS/loro.png' %}" class="logo-icon"  width="130px" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">
                <div>
                    <img src="{% static 'img/BA-LOGOS/logo_short.png' %}"  width="150x" alt="logo icon">
                </div>
            </h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

                    
        
        <li class="menu-label">Proceso Terapético </li>

        <li>
            <a href="{% url 'usuarios:perfil' %}">
                <div class="parent-icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">Perfil de Paciente</div>
            </a>
        </li>

        <li>
            <a href="{% url 'usuarios:lista_tareas' %}">
                <div class="parent-icon">
                    <ion-icon name="pencil"></ion-icon>
                </div>
                <div class="menu-title">Tareas & Actividades</div>
            </a>
        </li>

        <li>
            <a href="{% url 'usuarios:citas_total' %}">
                <div class="parent-icon">
                    <ion-icon name="calendar"></ion-icon>
                </div>
                <div class="menu-title">Sesiones Médicas </div>
            </a>
        </li>

        <li>
            <a href="{% url 'usuarios:inbox' %}">
                <div class="parent-icon">
                    <ion-icon name="notifications-outline"></ion-icon>
                </div>
                <div class="menu-title">Comunicaciones</div>
            </a>
        </li>

        <li>
            <a href="{% url 'usuarios:lista_pagos' %}">
                <div class="parent-icon">
                    <ion-icon name="wallet-outline"></ion-icon>
                </div>
                <div class="menu-title"> Ordenes de Pagos </div>
            </a>
        </li>

                <li>
            <a href="{% url 'usuarios:vista_certificados' %}">
                <div class="parent-icon">
                    <ion-icon name="file-tray-full-outline"></ion-icon>
                </div>
                <div class="menu-title">Reportes</div>
            </a>
        </li>



        <li class="menu-label">Configuraciones</li>

        <li>
            <a href="{% url 'usuarios:logout' %}">
                <div class="parent-icon">
                    <ion-icon name="exit-outline"></ion-icon>
                </div>
                <div class="menu-title">Salir de MEDDES®</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->


</aside>
