{% load widget_tweaks %}
{% load static %}


        
        <div class="col-12 col-md-6 col-lg-3">
           <a href="{% url 'usuarios:tareas_asignadas' %}">
            <div class="card radius-10 bg-yellow mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>                       
                            <h5 class="mb-0 text-primary">Mis Terápias </h5>
                             <p class="mb-0" style="margin-top: 0px;"> {{ total }} Tareas  Terapéticas </p>
                        </div>
                        <div class="ms-auto widget-icon bg-light-primary text-primary">
                             <i class="fadeIn animated bx bx-street-view"></i>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
      
        <!-- Card 2: No leídas -->
        <div class="col-12 col-md-6 col-lg-3">
          <a href="{% url 'usuarios:lista_tareas' %}">
            <div class="card radius-10 bg-yellow mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>

                            <h5 class="mb-0 text-primary">Tareas Pendientes</h5>
                             <p class="mb-0" style="margin-top: 0px;"> {{ total_pendientes }} Tareas  Terapéticas </p>
                        </div>
                        <div class="ms-auto widget-icon bg-light-primary text-primary">
                            <ion-icon name="document-text-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </div>

                <!-- Card 2: No leídas -->
        <div class="col-12 col-md-6 col-lg-3">
           <a href="{% url 'usuarios:tareas_realizadas'  %}">
            <div class="card radius-10 bg-yellow mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0 text-primary"> Actividades Realizadas </h5>
                             <p class="mb-0" style="margin-top: 0px;"> {{ total_realizadas }}  Tareas  Terapéticas </p>
                        </div>
                        <div class="ms-auto widget-icon bg-light-primary text-primary">
                              <i class="fadeIn animated bx bx-movie"></i>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>